<div class="modal" tabindex="-1" [ngClass]="{'show d-block': showModal}" style="background: rgba(0,0,0,0.5);">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirmar eliminación</h5>
        <button type="button" class="btn-close" (click)="cancel()"></button>
      </div>
      <div class="modal-body">
        <p>¿Seguro que quieres eliminar al usuario <strong>{{userName}}</strong>?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="cancel()">Cancelar</button>
        <button type="button" class="btn btn-danger" (click)="confirm()">Eliminar</button>
      </div>
    </div>
  </div>
</div>
